.huddle__main_building {
    padding: 48px;
    text-align: center;
}

.huddle__main_building_header {
    font-size: 48px;
}

.huddle__main_building_button {
    padding-block: 16px;
    padding-inline: 32px;
    border: none;
    border-radius: 25px;
    background-color: hotpink;
    color: white;
    text-transform: capitalize;
}