.huddle__main_iformation_communication {
    padding-block: 32px;
}

.huddle__main_information_navigation {
    margin-block-start: 48px;
}

.huddle__main_information_header {
    font-size: 48px;
    margin-block: 0;
}

.huddle__main_information_list_item:nth-child(2) {
    margin-block-start: 48px;
}

.huddle__main_information_images {
    width: 10%;
}

.huddle__main_information_text {
    color: grey;
}

@media (min-width: 600px) {
    .huddle__main_information_navigation_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block-start: 48px;
    }

    .huddle__main_information_images {
        width: 40%;
    }

    .huddle__main_information_list_item:nth-child(2) {
        margin-block-start: 0;
    }
}