.huddle__footer {
    padding-top: 142px;
    color: white;
    background-image: url('../images/bg-footer-top-mobile.svg');
    background-size: 102% 10%;
    background-repeat: no-repeat;
    background-position-y: 44px;
    display: block;
}

.huddle__footer_container {
    background-color: #00252e;
    padding: 20px;
}

.huddle__footer_background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.huddle__footer_social_media {
    width: 48px;
    height: 48px;
}

.huddle__footer_newsletter_form {
    display: flex;
    flex-direction: column;
}

.huddle__footer_newsletter_input {
    padding-block: 16px;
    padding-inline: 32px;
    border-radius: 5px;
    border: none;
}

.huddle__footer_newsletter_button {
    margin-block-start: 32px;
    padding-inline: 32px;
    padding-block: 16px;
    border-radius: 5px;
    border: none;
    background-color: hotpink;
    color: white;
    margin-inline-start: 70%;
}

.huddle__footer_contact {
    padding-block: 48px;
}

.huddle__footer_contact_logo {
    width: 50%;
}

.huddle__footer_contact_content {
    margin-block-start: 32px;
}

.huddle__footer_newsletter_header {
    text-transform: uppercase;
}

.huddle__footer_contact_form {
    display: flex;
    flex-direction: column;
    margin-block-start: 48px;
}

.huddle__footer_contact_phoneNumber {
    border: none;
    padding-block: 16px;
    padding-inline: 32px;
    background-image: url('../images/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-color: transparent;
}

.huddle__footer_contact_email {
    border: none;
    padding-block: 16px;
    padding-inline: 32px;
    background-image: url('../images/icon-email.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-color: transparent;
}

::placeholder {
    color: white;
}

.huddle__footer_navigation {
    margin-block-start: 48px;
}

.huddle__footer_navigation_container {
    display: flex;
    flex-direction: row;
}

.huddle__footer_link--facebook {
    color: transparent;
    background-image: url('../icons/icon-facebook\ copy.svg');
    background-repeat: no-repeat;
}

.huddle__footer_link--facebook:hover,
.huddle__footer_link--facebook:focus {
    background-image: url('../icons/icon-facebook-hover.svg');
    background-repeat: no-repeat;
}

.huddle__footer_link--instagramm {
    color: transparent;
    background-image: url('../icons/icon-instagram.svg');
    background-repeat: no-repeat;
}

.huddle__footer_link--instagramm:hover,
.huddle__footer_link--instagramm:focus {
    background-image: url('../icons/icon-instagram-hover.svg');
    background-repeat: no-repeat;
}

.huddle__footer_link--twitter {
    color: transparent;
    background-image: url('../icons/icon-twitter.svg');
    background-repeat: no-repeat;
}

.huddle__footer_link--twitter:focus,
.huddle__footer_link--twitter:hover {
    background-image: url('../icons/icon-twitter-hover.svg');
    background-repeat: no-repeat;
}

.huddle__footer_social_media:focus,
.huddle__footer_social_media:hover {
    background-color: skyblue;
}

@media all and (min-width: 600px) {
    .huddle__footer {
        padding-top: 118px;
    }

    .huddle__footer_container > * {
        max-width: 1200px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    .huddle__footer_container {
        padding-top: 80px;
    }

    .huddle__footer_article {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .huddle__footer_newsletter {
        margin-inline-start: 64px;
        margin-block-start: 64px;
    }

    .huddle__footer_newsletter_form {
        display: flex;
        flex-direction: column;
    }

    .huddle__footer_newsletter_button {
        margin-block-start: 16px;
        margin-inline-start: 0px;
        width: 150px;
    }
}

@media (min-width: 1000px) {
    .huddle__footer_newsletter_form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .huddle__footer_newsletter_button {
        margin-block-start: 0px;
        margin-inline-start: 0px;
    }
}
