.huddle__main_heading,
.huddle__main_details {
    text-align: center;
    padding: 32px;
}

.huddle__main_heading {
    padding-block-end: 0;
}

.huddle__main_details {
    padding-block-start: 0;
}

.huddle__main_header {
    font-size: 40px;
}

.huddle__main_button {
    border: none;
    padding-inline: 32px;
    padding-block: 16px;
    background-color: hotpink;
    color: white;
    text-transform: capitalize;
    border-radius: 25px;
    margin-block-start: 32px;
}

@media (min-width: 600px) {
    .huddle__main {
        max-width: 1000px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    .huddle__main_header {
        font-size: 32px;
    }
}