.huddle__main_users {
    margin-block-start: 48px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.huddle__main_users_header {
    margin-block-start: 32px;
    font-size: 32px;
}

@media (min-width: 600px) {
    .huddle__main_users {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        column-gap: 32px;
    }
}