body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

button {
  cursor: pointer; }

.huddle__masthead_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px; }

.huddle__masthead_button {
  margin-block-start: 16px;
  padding-block: 8px;
  padding-inline: 48px;
  height: 48px;
  border: 2px solid hotpink;
  color: hotpink;
  text-transform: capitalize;
  border-radius: 25px;
  background-color: white; }

.huddle__main_heading,
.huddle__main_details {
  text-align: center;
  padding: 32px; }

.huddle__main_heading {
  padding-block-end: 0; }

.huddle__main_details {
  padding-block-start: 0; }

.huddle__main_header {
  font-size: 40px; }

.huddle__main_button {
  border: none;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: hotpink;
  color: white;
  text-transform: capitalize;
  border-radius: 25px;
  margin-block-start: 32px; }

@media (min-width: 600px) {
  .huddle__main {
    max-width: 1000px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .huddle__main_header {
    font-size: 32px; } }

.huddle__main_information {
  margin-block-start: 48px;
  padding: 32px; }

.huddle__main_iformation_communication {
  padding-block: 32px; }

.huddle__main_information_navigation {
  margin-block-start: 48px; }

.huddle__main_information_header {
  font-size: 48px;
  margin-block: 0; }

.huddle__main_information_list_item:nth-child(2) {
  margin-block-start: 48px; }

.huddle__main_information_images {
  width: 10%; }

.huddle__main_information_text {
  color: grey; }

@media (min-width: 600px) {
  .huddle__main_information_navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 48px; }
  .huddle__main_information_images {
    width: 40%; }
  .huddle__main_information_list_item:nth-child(2) {
    margin-block-start: 0; } }

.huddle__main_together {
  text-align: center;
  display: flex;
  flex-direction: column-reverse; }

.huddle__main_together_header {
  font-size: 32px;
  text-transform: capitalize; }

@media (min-width: 600px) {
  .huddle__main_together {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px; } }

.huddle__main_conversations {
  margin-block-start: 48px;
  text-align: center; }

.huddle__main_conversations_heading {
  margin-block-start: 32px;
  font-size: 32px; }

@media (min-width: 600px) {
  .huddle__main_conversations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px; } }

.huddle__main_users {
  margin-block-start: 48px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse; }

.huddle__main_users_header {
  margin-block-start: 32px;
  font-size: 32px; }

@media (min-width: 600px) {
  .huddle__main_users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px; } }

.huddle__main_building {
  padding: 48px;
  text-align: center; }

.huddle__main_building_header {
  font-size: 48px; }

.huddle__main_building_button {
  padding-block: 16px;
  padding-inline: 32px;
  border: none;
  border-radius: 25px;
  background-color: hotpink;
  color: white;
  text-transform: capitalize; }

.huddle__footer {
  color: white; }

.huddle__footer_background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover; }

.huddle__footer_social_media {
  width: 48px;
  height: 48px; }

.huddle__footer_newsletter_form {
  display: flex;
  flex-direction: column; }

.huddle__footer_newsletter_input {
  padding-block: 16px;
  padding-inline: 32px;
  border-radius: 5px;
  border: none;
  width: 89%; }

.huddle__footer_newsletter_button {
  margin-block-start: 32px;
  padding-inline: 32px;
  padding-block: 16px;
  border-radius: 5px;
  border: none;
  background-color: hotpink;
  color: white;
  margin-inline-start: 70%; }

.huddle__footer_contact {
  padding-block: 48px; }

.huddle__footer_contact_logo {
  width: 50%; }

.huddle__footer_contact_content {
  margin-block-start: 32px; }

.huddle__footer_contact_form {
  display: flex;
  flex-direction: column;
  margin-block-start: 48px; }

.huddle__footer_contact_phoneNumber {
  border: none;
  padding-block: 16px;
  padding-inline: 32px;
  background-image: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-color: transparent; }

.huddle__footer_contact_email {
  border: none;
  padding-block: 16px;
  padding-inline: 32px;
  background-image: url("../images/icon-email.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-color: transparent; }

::placeholder {
  color: white; }

.huddle__footer_navigation {
  margin-block-start: 48px; }

.huddle__footer_navigation_container {
  display: flex;
  flex-direction: row; }

.huddle__footer_list_item:nth-child(2),
.huddle__footer_list_item:nth-child(3) {
  margin-inline-start: 32px; }

@media all and (min-width: 600px) {
  .huddle__footer > * {
    max-width: 1000px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .huddle__footer_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .huddle__footer_newsletter {
    margin-inline-start: 64px; } }
