body {
  margin: 0;
  padding: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.huddle__masthead_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px; }

.huddle__masthead_button {
  margin-block-start: 16px;
  padding-block: 8px;
  padding-inline: 48px;
  height: 48px;
  border: 2px solid hotpink;
  color: hotpink;
  text-transform: capitalize;
  border-radius: 25px;
  background-color: white; }
