@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../webroot/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../webroot/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400; }

body {
  font-family: "Open Sans Regular";
  margin: 0;
  padding: 0;
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins'; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

button {
  cursor: pointer; }

.huddle__masthead_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px; }

.huddle__masthead_button {
  margin-block-start: 16px;
  padding-block: 8px;
  padding-inline: 48px;
  height: 48px;
  border: 2px solid hotpink;
  color: hotpink;
  text-transform: capitalize;
  border-radius: 25px;
  background-color: white; }

.huddle__main_heading,
.huddle__main_details {
  text-align: center;
  padding: 32px; }

.huddle__main_heading {
  padding-block-end: 0; }

.huddle__main_details {
  padding-block-start: 0; }

.huddle__main_header {
  font-size: 40px; }

.huddle__main_button {
  border: none;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: hotpink;
  color: white;
  text-transform: capitalize;
  border-radius: 25px;
  margin-block-start: 32px; }

@media (min-width: 600px) {
  .huddle__main_header {
    font-size: 32px; }
  .huddle__main_heading,
  .huddle__main_details {
    padding-inline: 80px; } }

.huddle__main_information {
  margin-block-start: 48px; }

.huddle__main_iformation_communication {
  padding: 32px; }

.huddle__main_information_navigation {
  margin-block-start: 48px; }

.huddle__main_information_header {
  font-size: 48px;
  margin-block: 0; }

.huddle__main_information_list_item:nth-child(2) {
  margin-block-start: 48px; }

.huddle__main_information_images {
  width: 10%; }

.huddle__main_information_text {
  color: grey; }

@media (min-width: 600px) {
  .huddle__main_iformation_communication {
    padding: 80px; }
  .huddle__main_information_navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 48px; }
  .huddle__main_information_images {
    width: 40%; }
  .huddle__main_information_list_item:nth-child(2) {
    margin-block-start: 0; } }

.huddle__main_together {
  text-align: center;
  background-image: url("../images/bg-section-top-mobile-1.svg"), url("../images/bg-section-top-mobile-2.svg"), url("../images/bg-section-bottom-mobile-1.svg"), url("../images/bg-section-bottom-mobile-2.svg");
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: 100% 7%, 100% 8%, 100% 8%, 100% 15%;
  display: block;
  padding-top: 46px;
  padding-bottom: 46px; }

.huddle__main_together_container {
  padding: 48px;
  display: flex;
  flex-direction: column-reverse;
  background-color: #F6FBFF; }

.huddle__main_together_header {
  font-size: 32px;
  text-transform: capitalize; }

@media (min-width: 600px) {
  .huddle__main_together {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: start; }
  .huddle__main_together_container {
    padding: 80px; }
  .huddle__main_together_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px; } }

.huddle__main_conversations {
  margin-block-start: 80px;
  text-align: center; }

.huddle__main_conversations_container {
  padding: 48px; }

.huddle__main_conversations_heading {
  margin-block-start: 32px;
  font-size: 32px; }

@media (min-width: 600px) {
  .huddle__main_conversations {
    text-align: start; }
  .huddle__main_conversations_container {
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px; } }

.huddle__main_users {
  margin-block-start: 48px;
  text-align: center;
  background-image: url("../images/bg-section-top-mobile-1.svg"), url("../images/bg-section-top-mobile-2.svg"), url("../images/bg-section-bottom-mobile-1.svg"), url("../images/bg-section-bottom-mobile-2.svg");
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: 100% 7%, 100% 8%, 100% 8%, 100% 15%;
  display: block;
  padding-top: 46px;
  padding-bottom: 46px; }

.huddle__main_users_container {
  display: flex;
  flex-direction: column-reverse;
  background-color: #F6FBFF;
  padding: 48px; }

.huddle__main_users_header {
  margin-block-start: 32px;
  font-size: 32px; }

@media (min-width: 600px) {
  .huddle__main_users {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: start; }
  .huddle__main_users_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px;
    padding: 80px; } }

.huddle__main_building {
  padding: 48px;
  text-align: center; }

.huddle__main_building_header {
  font-size: 48px; }

.huddle__main_building_button {
  padding-block: 16px;
  padding-inline: 32px;
  border: none;
  border-radius: 25px;
  background-color: hotpink;
  color: white;
  text-transform: capitalize; }

.huddle__footer {
  padding-top: 142px;
  color: white;
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-size: 102% 10%;
  background-repeat: no-repeat;
  background-position-y: 44px;
  display: block; }

.huddle__footer_container {
  background-color: #00252e;
  padding: 20px; }

.huddle__footer_background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover; }

.huddle__footer_social_media {
  width: 48px;
  height: 48px; }

.huddle__footer_newsletter_form {
  display: flex;
  flex-direction: column; }

.huddle__footer_newsletter_input {
  padding-block: 16px;
  padding-inline: 32px;
  border-radius: 5px;
  border: none; }

.huddle__footer_newsletter_button {
  margin-block-start: 32px;
  padding-inline: 32px;
  padding-block: 16px;
  border-radius: 5px;
  border: none;
  background-color: hotpink;
  color: white;
  margin-inline-start: 70%; }

.huddle__footer_contact {
  padding-block: 48px; }

.huddle__footer_contact_logo {
  width: 50%; }

.huddle__footer_contact_content {
  margin-block-start: 32px; }

.huddle__footer_newsletter_header {
  text-transform: uppercase; }

.huddle__footer_contact_form {
  display: flex;
  flex-direction: column;
  margin-block-start: 48px; }

.huddle__footer_contact_phoneNumber {
  border: none;
  padding-block: 16px;
  padding-inline: 32px;
  background-image: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-color: transparent; }

.huddle__footer_contact_email {
  border: none;
  padding-block: 16px;
  padding-inline: 32px;
  background-image: url("../images/icon-email.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-color: transparent; }

::placeholder {
  color: white; }

.huddle__footer_navigation {
  margin-block-start: 48px; }

.huddle__footer_navigation_container {
  display: flex;
  flex-direction: row; }

.huddle__footer_list_item:nth-child(2),
.huddle__footer_list_item:nth-child(3) {
  margin-inline-start: 32px; }

@media all and (min-width: 600px) {
  .huddle__footer {
    padding-top: 118px; }
  .huddle__footer_container > * {
    max-width: 1200px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .huddle__footer_container {
    padding-top: 80px; }
  .huddle__footer_article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .huddle__footer_newsletter {
    margin-inline-start: 64px;
    margin-block-start: 64px; }
  .huddle__footer_newsletter_form {
    display: flex;
    flex-direction: column; }
  .huddle__footer_newsletter_button {
    margin-block-start: 16px;
    margin-inline-start: 0px;
    width: 150px; } }

@media (min-width: 1000px) {
  .huddle__footer_newsletter_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .huddle__footer_newsletter_button {
    margin-block-start: 0px;
    margin-inline-start: 0px; } }
