body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.huddle__masthead_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px; }

.huddle__masthead_button {
  margin-block-start: 16px;
  padding-block: 8px;
  padding-inline: 48px;
  height: 48px;
  border: 2px solid hotpink;
  color: hotpink;
  text-transform: capitalize;
  border-radius: 25px;
  background-color: white; }

.huddle__main_heading,
.huddle__main_details {
  text-align: center;
  padding: 32px; }

.huddle__main_heading {
  padding-block-end: 0; }

.huddle__main_details {
  padding-block-start: 0; }

.huddle__main_header {
  font-size: 40px; }

.huddle__main_button {
  border: none;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: hotpink;
  color: white;
  text-transform: capitalize;
  border-radius: 25px;
  margin-block-start: 32px; }

@media (min-width: 600px) {
  .huddle__main_header {
    font-size: 32px; } }

.huddle__main_information {
  margin-block-start: 48px;
  padding: 32px; }

.huddle__main_iformation_communication {
  padding-block: 32px; }

.huddle__main_information_navigation {
  margin-block-start: 48px; }

.huddle__main_information_header {
  font-size: 48px;
  margin-block: 0; }

.huddle__main_information_list_item:nth-child(2) {
  margin-block-start: 48px; }

.huddle__main_information_images {
  width: 10%; }

.huddle__main_information_text {
  color: grey; }

.huddle__main_together {
  text-align: center; }

.huddle__main_together_header {
  font-size: 32px;
  text-transform: capitalize; }

.huddle__main_conversations {
  margin-block-start: 48px;
  text-align: center; }

.huddle__main_conversations_heading {
  margin-block-start: 32px;
  font-size: 32px; }

.huddle__main_users {
  margin-block-start: 48px;
  text-align: center; }

.huddle__main_users_header {
  margin-block-start: 32px;
  font-size: 32px; }
